{% extends "base.html" %}
{% block content %}

<h3>Explore strange new worlds...</h3>
{% for planet in all_planets %}
  <div class="explored_planets">
      <p><a href="/planets/{{planet.id}}">{{planet.name}}</a></p>
      <div class="planet_information">
        <span class="planet_class">Class: <b>{{planet.planet_class}}</b></span>
        <span class="native_species">Native Species: <b>{{planet.native_species}}</b></span>
        <span class="rating">Rating: <b>{{planet.rating}}</b></span>
      </div>

{% endfor %}

<div>
<p><a href="/planets/new">New Planet</a></p>
</div>

{% endblock %}