{% extends "base.html" %}
{% block content %}

  <div>
    <h2>{{planet.name}}</h2>
    <div>Class: {{planet.planet_class}}</div>
    <div>Native Species: {{planet.native_species}}</div>
    <div>Rating: {{planet.rating}}</div>
    <p>{% for city in cities %}
        <div class="cities_in_planet">
            <a href="/cities/{{city.id}}">{{city.name}}</a>
    {% endfor %}</p>
    <div class="buttons">

        <span><form action="/planets/{{planet.id}}/edit" method="GET">
          <input class="btn btn--edit" type="submit" value="Edit"/>
          </form>
        </span>

        <span>
          <form action="/planets/{{planet.id}}/delete" method="POST">
            <input class="btn btn--danger" type="submit" value="Delete"/>
          </form>
        </span>


    
  </div>

{% endblock %}