{% extends "base.html" %}
{% block content %}

<form action="/cities" method="post">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" placeholder="Name" required autofocus>
  </div>

  <div>
    <label for="planet">Planet:</label>
    <input type="text" id="planet" name="planet" placeholder="Planet" required autofocus>
  </div>
  
  <div>
    <label for="rating">Rating:</label>
    <input type="number" id="rating" name="rating" placeholder="Rating" required>
    <!-- <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span> -->
</div>
  </div>

  <div>
    <label for="comments">Comments:</label>
    <textarea id="comments" name="comments" cols="30" rows="10"></textarea>
  </div>

  <div>
    <label for="visited">Visited:</label>
    <select id="visited" name="visited">
      <option value="true">Visited</option>
      <option value="false">Not Visited</option>
    </select>
  </div>

  <button type="submit">Create New City</button>

</form>

{% endblock %}