{% extends "base.html" %}
{% block content %}

  <div>
    <h2>{{city.name}}</h2>
    <div>Planet: {{city.planet}}</div>
    <div>Rating: {{city.rating}}</div>
    <div>Comments: {{city.comments}}</div>
    <div>{% if city.visited == True %}
      <i class="material-symbols-outlined">
        check_circle
      </i>
    {% else %}
      <i class="material-symbols-outlined">
        cancel
      </i>
    {% endif %}

    <span><form action="/cities/{{city.id}}/edit" method="GET">
      <input class="btn btn--edit" type="submit" value="Edit"/>
      </form>
    </span>

    <span>
      <form action="/cities/{{city.id}}/delete" method="POST">
        <input class="btn btn--danger" type="submit" value="Delete"/>
      </form>
    </span>


    
  </div>

{% endblock %}