.btn {
    border:0px none;
    padding: 4px 8px;
    color: #ffffff;
    cursor:pointer;
    display: inline-block;
    margin: 4px 4px 4px 4px;
  }
  
  .btn--danger {
    background-color: #C33C54;
  }
  
  .btn--danger:hover {
    background-color: #730000;
  }
  
  .btn--action:hover {
    background-color: #ABC798;
  }
  
  .btn--action {
    background-color: #ABC798;
  }
  
  .btn--search {
    background-color: #315d13;
    margin: 0px 0px 0px 0px;

  }
  
  .btn--edit {
    background-color: #357c05; 
  }

  .btn--new {
    background-color: #215f8c; 
  }

  .btn--wrapper {
    margin: 0px 0px 30px 0px;
  }